.item {
    display: block;
    margin-bottom: 10px;
    width: 45%;
    border: solid 1px crimson;
    border-radius: 15px;;
    background-color: lavender;
    color: wheat
}

.item:nth-child(2n + 1) {
    margin-right: 20px; 
}

.link {
    display: block;
    padding: 10px;
    color: rgb(82, 55, 7);
    text-decoration: none;
}