.list {
    padding: 10px;
    background-color: lavender;
    border-radius: 15px;
    list-style: none;
}

.cast_list {
    display: flex;
    flex-wrap: wrap;
    background-color: lavender;
    border-radius: 15px;
    list-style: none;
}

.item {
    padding: 10px;
    border: solid 3px rgb(85, 2, 19);
    border-radius: 10px;
}

.item:not(:last-child) {
    margin-bottom: 20px;
}

.cast_box {
    max-width: 200px;
    padding: 10px;
}

.name {
    font-weight: 700;
    text-decoration: underline;
    color: rgba(63, 3, 15, 0.705);
}

.text {
    font-size: medium;
    line-height: 1.5;
}